{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h2>사업안내</h2>
</section>

<h3><br> 오시는길 <br></h3>

<!-- 탭 버튼 -->
<div class="tabs">
    <button class="tab-btn" onclick="location.href='{% url 'information' %}'">사업개요</button>
    <button class="tab-btn" onclick="location.href='{% url 'location' %}'">입지환경</button>
    <button class="tab-btn active" onclick="location.href='{% url 'direction' %}'">오시는길</button>
</div>

<div class="direction">
    <img src="{% static 'images/오시는길.jpg' %}">
</div>

<div class="address">
    <p>홍보관 및 현장 주소 : 천안시 동남구 영성동 54-3번지</p>
    <button onclick="window.open('https://naver.me/xgN1aGNe', '_blank')">네이버 지도 보기</button>
    <button onclick="window.open('https://kko.kakao.com/2lXHKB-KBL', '_blank')">카카오 지도 보기</button>
    <a href="#"><h2>1666-4541</h2></a>
</div>

{% endblock %}