{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h2>사업안내</h2>
</section>

<h3><br> 입지환경 <br></h3>

<!-- 탭 버튼 -->
<div class="tabs">
    <button class="tab-btn" onclick="location.href='{% url 'information' %}'">사업개요</button>
    <button class="tab-btn active" onclick="location.href='{% url 'location' %}'">입지환경</button>
    <button class="tab-btn" onclick="location.href='{% url 'direction' %}'">오시는길</button>
</div>

<div class="locatoin">
    <div class="location-img">
        <img src="{% static 'images/입지환경.png' %}">
        <img src="{% static 'images/입지환경2.png' %}">
        
    </div>

    <div class="location-img2">
        <img src="{% static 'images/입지환경3.png' %}">
        <img src="{% static 'images/입지환경4.png' %}">
    </div>
</div>

{% endblock %}