/* public */
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    flex-wrap: wrap;
    /* 모바일에서 버튼들이 한 줄에 안 맞으면 자동으로 줄 바꿈 */
}

.tabs-pyeong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    flex-wrap: wrap;
    /* 모바일에서 버튼들이 한 줄에 안 맞으면 자동으로 줄 바꿈 */
}

.tab-btn {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 2rem;
    font-size: 1rem;
    /* 기본 폰트 크기 */
    font-weight: bold;
    padding: 1rem 2rem;
    /* 패딩을 %로 설정하여 반응형 */
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    min-width: 6rem;
    /* 최소 너비 설정 */
    text-align: center;
}

/* 모바일에서 탭 버튼 간격 좁히기 */
@media screen and (max-width: 768px) {
    .tabs {
        flex-wrap: nowrap;
    }

    .tab-btn {
        font-size: 0.875rem;
        /* 모바일 화면에서 작은 폰트 */
        padding: 0.8rem 1.5rem;
        min-width: 5rem;
        /* 모바일에서 작은 최소 너비 */
    }
}

/* 호버 상태 */
.tab-btn:hover {
    background-color: #333;
    /* Hover 시 색상 변경 */
    border-color: #333;
    color: #fff;
}

.tab-btn.active {
    background-color: #333;
    /* 활성화된 탭 색상 */
    color: #fff;
    border-color: #333;
}

/* 탭을 클릭했을 때 나타나는 콘텐츠 */
.tab-btn:focus {
    outline: none;
}

/* 탭 버튼 확대 효과 */
.tabs button:hover {
    transform: scale(1.1);
    /* Hover 시 크기 확대 효과 */
}



/* base.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    margin-bottom: 4rem;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('../images/head.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 2.5rem;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
    margin-left: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 25px 0;
    display: block;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.nav-item:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-item {
    padding: 12px 20px;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #d8d8d8;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-tel {
    padding: 8px 20px;
    margin-right: 15px;
    font-size: 30px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .nav-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 8%;
    }

    .nav-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .nav-tel {
        font-size: 20px;
    }

    .nav-logo img {
        width: 80%;
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        right: -40%;
        /* 초기 상태: 화면 밖으로 숨김 */
        width: 40%;
        /* 메뉴 너비를 60%로 제한 */
        height: 50vh;
        background-color: #333;
        /* 메뉴 배경 색상 */
        color: white;
        /* 텍스트 색상 */
        flex-direction: column;
        /* 세로 정렬 */
        transition: 0.3s ease-in-out;
        /* 부드러운 애니메이션 */
    }

    .nav-menu.active {
        right: 0;
        /* active 상태: 화면 안으로 들어옴 */
    }

    .nav-item {
        margin: 0;
        margin-bottom: 15px;
    }

    .nav-link {
        padding: 15px 0;
    }

    .dropdown {
        position: static;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
        transform: none;
        display: none;
        padding-left: 20px;
    }

    .nav-item.active .dropdown {
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}



/* index.html */
.listing {
    display: flex;
    position: relative;
    width: 100%;
}

.listing img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.text-container {
    position: absolute;
    top: 15%;
    right: 10%;
    transform: translate(0, 0);
    text-align: center;
    z-index: 10;
    width: auto;
}

.text-container p {
    font-size: 2.5vw;
    font-weight: bold;
    opacity: 0;
    margin: 10px 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.fade-in {
    animation: fadeIn 1s ease-in forwards;
    animation-delay: var(--animation-delay);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay {
    display: flex;
    /* 수평 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: space-between;
    /* 좌우 공간 분배 */
    width: 100%;
    /* 전체 너비 사용 */
    background-color: rgb(255, 255, 255);
    /* 배경색 */
    z-index: 5;
    /* 이미지 위로 표시 */
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
    /* opacity: 0; */
    transition: all 0.5s ease-in-out;
    /* 부드러운 애니메이션 */
    padding-left: 2rem;
    font-size: medium;
}

.overlay h4,
.overlay p {
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
}

.overlay img {
    max-width: 20%;
    /* 이미지 너비 설정 */
    height: auto;
    /* 비율 유지 */
    padding-right: 5rem;
    /* 텍스트와 이미지 간 간격 */
    object-fit: contain;
    /* 이미지 잘리지 않게 */
}

.overlay-text {
    max-width: 70%;
    /* 텍스트 영역 제한 */
}

/* .overlay.active {
    opacity: 1;
    height: 10%;
} */

.vertical-text-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10% 3%;
    width: 20%;
    z-index: 10;
}

.vertical-text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.text-row {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 15px;
}

.text-row span {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
}

.bottom-text {
    text-align: center;
    margin-top: 100px;
}

.bottom-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    word-break: keep-all;
}

.logo-text {
    font-size: 14px;
    color: #666;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .text-container {
        top: 15%;
        right: 2%;
    }

    .overlay.active {
        height: 10%;
    }

    .vertical-text-overlay {
        width: 15%;
    }

    .text-row span {
        font-size: 20px;
    }

    .bottom-text {
        margin-top: 60px;
    }

    .bottom-text p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .text-container {
        top: 10%;
        right: 5%;
    }

    .text-container p {
        font-size: 3vw;
    }

    .overlay {
        font-size: small;
    }

    .overlay.active {
        height: 6%;
    }

    .vertical-text-overlay {
        width: 16%;

    }

    .vertical-text-group {
        margin-bottom: 30px;
        align-items: center;
    }

    .text-row {
        gap: 12px;
        margin-bottom: 10px;
        justify-content: center;
    }

    .text-row span {
        font-size: 18px;
    }

    .bottom-text {
        text-align: center;
        margin-top: 40px;
    }

    .bottom-text p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .logo-text {
        text-align: center;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .text-container {
        top: 10%;
        right: 2%;
    }

    .text-container p {
        font-size: 3vw;
    }

    .overlay {
        font-size: x-small;
    }

    .overlay.active {
        height: 4%;
    }

    .overlay h4,
    .overlay p {
        padding: 0.3rem;
    }

    .vertical-text-overlay {
        width: 20%;
        padding: 20px 15px;
    }

    .text-row span {
        font-size: 14px;
        gap: 6px;
    }

    .bottom-text p {
        font-size: 12px;
    }

    .logo-text {
        font-size: 10px;
    }
}



/* information.html */
.info {
    padding: 20px;
    background: #f8f8f8;
    border-top: 1px solid #ddd;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-item {
    width: 45%;
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.info-item h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.info-item p {
    margin: 0;
    color: #555;

}

.main-image {
    text-align: center;
    margin: 20px 0;
}

.main-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}



/* location.html */
.location-img img {
    width: 100%;
    margin-bottom: 5%;
}

.location-img2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



/* direction.html */
.direction img {
    width: 100%;
}



/* premium.html */
.premium img {
    width: 100%;
}

/* block.html */
.block img {
    width: 100%;
}

/* pyeong.html */
.pyeong img {
    width: 100%;
}