{% extends 'cheonan/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="listing">
        <img src="{% static 'cheonan/images/main1.png' %}" alt="Apartment 1">
        <div class="text-container">
            <p class="fade-in" data-index="0">천안의 자부심</p>
            <p class="fade-in" data-index="1">그 이상의<br>랜드마크가 되다!</p>
            <p class="fade-in" data-index="2">천안역 태왕아너스 르씨엘</p>
        </div>
    </div>

    <div class="overlay">
        <div class="overlay-text">
            <h4>천안역 태왕아너스 르씨엘 산다는 자체만으로<br>자부심이 완성이됩니다.</h4>
            <p class="responsive-text">
                천안역의 미래 비전과 인프라를 품은 천안 영성동에<br>
                보다 편하고 보다 아름답고 보다 튼튼한 주거공간을 만들기위해<br>
                입주민의 마음으로 많은 밤을 지새웠습니다.<br>
                기대, 그 이상의 감동을 넘어 완성된 프리미엄으로<br>
                천안역 태왕아너스 르씨엘이 찾아옵니다.
            </p>
        </div>
        <img src="{% static 'cheonan/images/logo3.png' %}" alt="로고">
    </div>

    <div class="listing">
        <img src="{% static 'cheonan/images/main2.png' %}" alt="Apartment 2">
        <div class="vertical-text-overlay">
            <div class="vertical-text-group">
                <div class="text-row">
                    <span>르</span>
                    <span>·</span>
                    <span>씨</span>
                    <span>·</span>
                    <span>엘</span>
                </div>
                <div class="text-row">
                    <span>천</span>
                    <span>안</span>
                    <span>역</span>
                </div>
                <div class="text-row">
                    <span>하</span>
                    <span>늘</span>
                    <span>에</span>
                </div>
                <div class="text-row">
                    <span>행</span>
                    <span>복</span>
                    <span>을</span>
                </div>
                <div class="text-row">
                    <span>그</span>
                    <span>리</span>
                    <span>다</span>
                </div>
            </div>
            
            <div class="bottom-text">
                <p>내 집 마련의</p>
                <p>현명한 시작</p>
                <div class="logo-text"><img src="{% static 'cheonan/images/logo2.png' %}"></div>
            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // 모든 텍스트 요소 가져오기
        const textElements = document.querySelectorAll(".fade-in");

        textElements.forEach((element, index) => {
            // 애니메이션 딜레이를 설정
            element.style.setProperty("--animation-delay", `${index * 1.5}s`);
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const overlay = document.querySelector('.ovrlay');
        setTimeout(() => {
            overlay.classList.add('active');
        }, 4000);
    });
</script>
{% endblock %}