{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h2>사업안내</h2>
</section>

<h3><br> 사업개요 <br></h3>

<!-- 탭 버튼 -->
<div class="tabs">
    <button class="tab-btn active" onclick="location.href='{% url 'cheonan:information' %}'">사업개요</button>
    <button class="tab-btn" onclick="location.href='{% url 'cheonan:location' %}'">입지환경</button>
    <button class="tab-btn" onclick="location.href='{% url 'cheonan:direction' %}'">오시는길</button>
</div>

<!-- 메인 이미지 -->
<section class="main-image">
    <img src="{% static 'cheonan/images/사업개요.png' %}">
</section>

<!-- 상세 정보 테이블 -->
<section class="info">
    <div class="info-row">
        <div class="info-item">
            <h3>위치</h3>
            <p>천안시 동남구 영성동 54-3번지 일원</p>
        </div>
        <div class="info-item">
            <h3>규모</h3>
            <p>지하 6층 ~ 지상 48층 3개동, 공동주택 및 복리시설</p>
        </div>
    </div>
    <div class="info-row">
        <div class="info-item">
            <h3>용도</h3>
            <p>공동주택 및 부대 복리시설, 오피스텔, 근린생활시설</p>
        </div>
        <div class="info-item">
            <h3>타입</h3>
            <p>84A(123세대), 84B(33세대), 84C(41세대)</p>
        </div>
    </div>
</section>
{% endblock %}