{% extends 'yangju/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="main-section">
        <div class="main-text">
            강남과 <span class="highlight-red">통</span>하고! 집은 <span class="highlight-red">괜</span>적하게! <br>
            <span class="highlight-red">통괘</span>하게 <span class="highlight-black">내 집</span> 양주
        </div>
        <img src="gtx-icon.png" alt="GTX 역" class="metro-icon">
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // 모든 텍스트 요소 가져오기
        const textElements = document.querySelectorAll(".fade-in");

        textElements.forEach((element, index) => {
            // 애니메이션 딜레이를 설정
            element.style.setProperty("--animation-delay", `${index * 1.5}s`);
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const overlay = document.querySelector('.ovrlay');
        setTimeout(() => {
            overlay.classList.add('active');
        }, 4000);
    });
</script>
{% endblock %}