{% extends 'yangju/base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h2>평형안내</h2>
</section>

<h3><br> 평형안내 <br></h3>

<!-- 탭 버튼 -->
<div class="tabs-pyeong">
    <button class="tab-btn" onclick="showPlan('59A', this)">59m²A</button>
    <button class="tab-btn" onclick="showPlan('59B', this)">59m²B</button>
    <button class="tab-btn" onclick="showPlan('75A', this)">75m²A</button>
    <button class="tab-btn" onclick="showPlan('84A', this)">84m²A</button>
    <button class="tab-btn" onclick="showPlan('84B', this)">84m²B</button>
</div>

<div class="pyeong">
    <div class="plan-content">
        <div id="plan-59A" class="plan" style="display: block;">
            <img src="{% static 'yangju/images/59A.jpg' %}">
        </div>
        <div id="plan-59B" class="plan" style="display: none;">
            <img src="{% static 'yangju/images/59B.png' %}">
        </div>
        <div id="plan-75A" class="plan" style="display: none;">
            <img src="{% static 'yangju/images/75A.png' %}">
        </div>
        <div id="plan-84A" class="plan" style="display: none;">
            <img src="{% static 'yangju/images/84A.png' %}">
        </div>
        <div id="plan-84B" class="plan" style="display: none;">
            <img src="{% static 'yangju/images/84B.png' %}">
        </div>
    </div>
</div>

<script>
    function showPlan(plan, button) {
        // 모든 평면 숨기기
        const plans = document.querySelectorAll('.plan');
        plans.forEach(function (planDiv) {
            planDiv.style.display = 'none';
        });

        // 선택한 평면만 표시
        const selectedPlan = document.getElementById(`plan-${plan}`);
        if (selectedPlan) {
            selectedPlan.style.display = 'block';
        }

        // 모든 탭에서 active 클래스 제거
        const tabs = document.querySelectorAll('.tab-btn');
        tabs.forEach(function (tab) {
            tab.classList.remove('active');
        });

        // 클릭된 탭에 active 클래스 추가
        button.classList.add('active');
    }

    // 현재 URL에서 쿼리 파라미터 읽기
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const plan = urlParams.get('plan'); // "plan" 파라미터 값 가져오기

        if (plan) {
            // 해당 평면 표시
            showPlan(plan, document.querySelector(`button[onclick="showPlan('${plan}', this)"]`));
        } else {
            // 기본 평면으로 첫 번째 평면 표시
            showPlan('84A', document.querySelector('button[onclick="showPlan(\'59A\', this)"]'));
        }
    });
</script>

{% endblock %}