{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16785759182"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-16785759182');
    </script>
    <!-- Event snippet for 페이지 조회 전환 conversion page -->
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-16785759182/LcIuCOzf8v0ZEM63icQ-' });
    </script>
    <!-- Event snippet for 전화 문의 conversion page -->
    <script>
        window.addEventListener('load', function () {
            var telLink = document.querySelectorAll('[href="tel:16664541"]');
            for (var link of telLink) {
                link.addEventListener('click', function () {
                    gtag('event', 'conversion', { 'send_to': 'AW-16785759182/Q6PVCOvD8v0ZEM63icQ-' });
                });
            }
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="천안역 태왕아너스 르씨엘의 분양 홈페이지로, 최신 정보와 분양 안내를 제공합니다.">
    <meta name="keywords" content="태왕아너스, 르씨엘, 분양, 천안, 아파트 분양, 부동산">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="천안역 태왕아너스 르씨엘 분양 홈페이지">
    <meta property="og:description" content="천안역 근처 태왕아너스 르씨엘 아파트의 분양 정보를 확인해 보세요.">
    <meta property="og:image" content="이미지_URL">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="천안역 태왕아너스 르씨엘 분양 홈페이지">
    <meta name="twitter:description" content="태왕아너스 르씨엘의 최신 분양 정보를 확인하세요.">
    <meta name="twitter:image" content="이미지_URL">

    <title>천안 태왕아너스 르씨엘</title>
    <link rel="stylesheet" href="{% static 'cheonan/css/style.css' %}">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W75SLCG7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a href="{% url 'cheonan:index' %}" class="nav-logo"><img src="{% static 'cheonan/images/logo.png' %}"></a>

                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{% url 'cheonan:information' %}" class="nav-link">사업안내</a>
                        <div class="dropdown">
                            <a href="{% url 'cheonan:information' %}" class="dropdown-item">사업개요</a>
                            <a href="{% url 'cheonan:location' %}" class="dropdown-item">입지환경</a>
                            <a href="{% url 'cheonan:direction' %}" class="dropdown-item">오시는길</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheonan:concierge' %}" class="nav-link">프리미엄</a>
                        <div class="dropdown">
                            <a href="{% url 'cheonan:concierge' %}" class="dropdown-item">컨시어지10</a>
                            <a href="{% url 'cheonan:smart' %}" class="dropdown-item">스마트20</a>
                            <a href="{% url 'cheonan:premium' %}" class="dropdown-item">프리미엄30</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheonan:block' %}" class="nav-link">단지안내</a>
                        <div class="dropdown">
                            <a href="{% url 'cheonan:block' %}" class="dropdown-item">단지배치도</a>
                            <a href="{% url 'cheonan:pyeong' %}" class="dropdown-item">동호수배치도</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheonan:pyeong' %}" class="nav-link">평형안내</a>
                        <div class="dropdown">
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84A')">84m²A</a>
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84B')">84m²B</a>
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84C')">84m²C</a>
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84D')">84m²D</a>
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84E')">84m²E</a>
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84F')">84m²F</a>
                            <a href="#" class="dropdown-item" onclick="navigatePlan(event, '84G')">84m²G</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheonan:apply' %}" class="nav-link">관심고객등록</a>
                    </li>
                </ul>

                <div class="nav-right">
                    <a href="tel:16664541" class="nav-tel">1666-4541</a>
                    <div class="menu-toggle">
                        <span>☰</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div>
                    사업지 주소: 천안시 동남구 영성동 54-3
                    <span class="divider">|</span>
                    모델하우스 대표번호: 1666-4541
                </div>
                <div>
                    사이트 문의: 1666-4541
                    <span class="divider">|</span>
                    COPYRIGHT © 2024 CONSTRUCTION LTD, All RIGHT RESERVED.
                </div>
            </div>
        </div>
    </footer>

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const navMenu = document.querySelector('.nav-menu');

        menuToggle.addEventListener('click', () => {
            navMenu.classList.toggle('active');
        });

        function navigatePlan(event, plan) {
            event.preventDefault(); // 기본 링크 동작 막기

            // 평형안내 페이지로 이동하면서 URL에 plan 정보를 추가
            const url = `{% url 'cheonan:pyeong' %}?plan=${plan}`;
            window.location.href = url;
        }
    </script>
</body>

</html>