{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>청주 하트리움 더 메트로</title>
    <link rel="stylesheet" href="{% static 'cheongju/css/style.css' %}">

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a href="{% url 'cheongju:index' %}" class="nav-logo"><img
                        src="{% static 'cheongju/images/로고_컬러.png' %}"></a>

                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{% url 'cheongju:information' %}" class="nav-link">사업안내</a>
                        <div class="dropdown">
                            <a href="{% url 'cheongju:information' %}" class="dropdown-item">사업개요</a>
                            <a href="{% url 'cheongju:location' %}" class="dropdown-item">입지환경</a>
                            <a href="{% url 'cheongju:direction' %}" class="dropdown-item">오시는길</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheongju:of_premium' %}" class="nav-link">오피스텔</a>
                        <div class="dropdown">
                            <a href="{% url 'cheongju:of_premium' %}" class="dropdown-item">프리미엄6</a>
                            <a href="{% url 'cheongju:of_block' %}" class="dropdown-item">단지배치도</a>
                            <a href="{% url 'cheongju:of_dong' %}" class="dropdown-item">동호수배치도</a>
                            <a href="{% url 'cheongju:of_commu' %}" class="dropdown-item">커뮤니티</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheongju:apt_danzi' %}" class="nav-link">아파트</a>
                        <div class="dropdown">
                            <a href="{% url 'cheongju:apt_danzi' %}" class="dropdown-item">단지안내</a>
                            <a href="{% url 'cheongju:apt_block' %}" class="dropdown-item">단지배치도</a>
                            <a href="{% url 'cheongju:apt_dong' %}" class="dropdown-item">동호수배치도</a>
                            <a href="{% url 'cheongju:apt_commu' %}" class="dropdown-item">커뮤니티</a>
                            <a href="{% url 'cheongju:apt_pyeong' %}" class="dropdown-item">평면안내</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cheongju:apply' %}" class="nav-link">관심고객등록</a>
                    </li>
                </ul>

                <div class="nav-right">
                    <a href="tel:16664541" class="nav-tel">1666-4541</a>
                    <div class="menu-toggle">
                        <span>☰</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div>
                    사업지 주소: 충청북도 청주시 흥덕구 송절동 산12-11번지 일원
                    <span class="divider">|</span>
                    모델하우스 대표번호: 043-225-9177
                </div>
                <div>
                    사이트 문의: 043-225-9177
                    <span class="divider">|</span>
                    COPYRIGHT © 2024 CONSTRUCTION LTD, All RIGHT RESERVED.
                </div>
            </div>
        </div>
    </footer>

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const navMenu = document.querySelector('.nav-menu');

        menuToggle.addEventListener('click', () => {
            navMenu.classList.toggle('active');
        });

        function navigatePlan(event, plan) {
            event.preventDefault(); // 기본 링크 동작 막기

            // 평형안내 페이지로 이동하면서 URL에 plan 정보를 추가
            const url = `{% url 'cheongju:apt_pyeong' %}?plan=${plan}`;
            window.location.href = url;
        }
    </script>
</body>

</html>