{% extends 'cheongju/base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h2>오피스텔</h2>
</section>

<h3><br> 커뮤니티 <br></h3>

<!-- 탭 버튼 -->
<div class="tabs">
    <button class="tab-btn" onclick="location.href='{% url 'cheongju:of_premium' %}'">프리미엄6</button>
    <button class="tab-btn" onclick="location.href='{% url 'cheongju:of_block' %}'">단지배치도</button>
    <button class="tab-btn" onclick="location.href='{% url 'cheongju:of_dong' %}'">동호수배치도</button>
    <button class="tab-btn active" onclick="location.href='{% url 'cheongju:of_commu' %}'">커뮤니티</button>
</div>

<div>
    <img src="{% static 'cheongju/images/커뮤니티1.png' %}"><br><br><br>
</div>
<div class="commu">
    <img src="{% static 'cheongju/images/커뮤니티2.png' %}">
    <br><br><br>
    <img src="{% static 'cheongju/images/커뮤니티3.png' %}">
</div>
<br><br><br>

{% endblock %}